.color-div {
	padding: $padding-base $padding-small;
}

.color-brand-primary {
	background-color: $color-brand-primary;
}

.color-brand-secondary {
	background-color: $color-brand-secondary;
}

.color-brand-tertiary {
	background-color: $color-brand-tertiary;
}

.color-brand-auxiliary-1 {
	background-color: $color-brand-auxiliary-1;
}

.color-brand-auxiliary-2 {
	background-color: $color-brand-auxiliary-2;
}

.color-brand-auxiliary-3 {
	background-color: $color-brand-auxiliary-3;
}

.color-black {
	background-color: $color-black;
}

.color-gray-extra-dark {
	background-color: $color-gray-extra-dark;
}

.color-gray-dark {
	background-color: $color-gray-dark;
}

.color-gray-middle {
	background-color: $color-gray-middle;
}

.color-gray-light {
	background-color: $color-gray-light;
}

.color-gray-extra-light {
	background-color: $color-gray-extra-light;
}

.color-white {
	background-color: $color-white;
}
