// _headings.scss

h1,h2,h3,h4,h5,h6 {
	margin-top: $margin-base-vertical;
}

h1 {
	font-size: $font-size-h1; 
	color: $color-brand-primary;
}

h2 {
	font-size: $font-size-h2; 
	color: $color-brand-secondary;
}
	
h3 {
	font-size: $font-size-h3; 
	color: $color-brand-secondary;
}
	
h4 {
	font-size: $font-size-h4; 
	color: $color-gray-dark;
}

h5 {
	font-size: $font-size-h5; 
	color: $color-gray-dark;
}

h6 {
	font-size: $font-size-h6; 
	color: $color-gray-dark;
}