// _headings.scss

h1,h2,h3,h4,h5,h6 {
	margin-top: $margin-base-vertical;
}

h1 {
	font-size: $font-size-h1;
	font-family: $font-stack;
	color: $color-brand-tertiary;
	font-weight: 100;
}

h1 small {
	font-size: $font-size-h1-subhead;
	color: $color-brand-tertiary;
	font-weight: 100;
}

h2 {
	font-family: $font-stack;
	font-size: $font-size-h2; 
	color: $color-brand-secondary;
	font-weight: 200;
}

h2 small {
	font-size: $font-size-h2-subhead;
	color: $color-brand-tertiary;
	font-weight: 300;
}
	
h3 {
	font-family: $font-stack;
	font-size: $font-size-h2; 
	color: $color-brand-secondary;
	font-weight: 100;
}

h3 small {
	font-family: $font-stack-catamaran;
	font-size: $font-size-base;
	color: $color-brand-tertiary;
	font-weight: 200;
}

h4 {
	font-family: $font-stack;
	font-size: $font-size-h4; 
	color: $color-brand-tertiary;
	font-weight: 500;
}

h5 {
	font-size: $font-size-h5; 
	color: $color-gray-dark;
}

h6 {
	font-size: $font-size-h6; 
	color: $color-gray-dark;
}