.page-resume .masthead {
	min-height: 100vh;
	background-image: url(../images/ssxd-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	position: relative;
}

#portfolio {
	padding-top: 4rem;
}

.resume-button {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	.page-resume .masthead {
		background-attachment: scroll;
	}
}