// _global.scss

html {	
	font-size: $font-size-base;
	height: 100%;
}


body {
	font-family: $font-stack-catamaran;
	font-size: $font-size-body;
	color: $text-color;
	transition: $transition;
	height: 100%;
	background-color: $body-bg;
}

.container,
.container-fluid {
	background-color: #0E1218;
}
